$primary-fontSize: 14px;
$primary-color: #3F90FF;
$title-fontSize: 24px;
$color-a: #3F90FF;
$header-height: 60px;
$primary-font-color: #333333;
$subtitle-font-color: #999999;
$listSelected-color: #222222;
$listSelected-bgcolor: #E4E4E4;

// Extra small screen / phone
$screen-xs: 480px;
// Small screen / tablet
$screen-sm : 576px;
// Medium screen / desktop
$screen-md : 768px;
// Large screen / wide desktop
$screen-lg : 992px;
// Extra large screen / full hd
$screen-xl : 1200px;
// Extra extra large screen / large descktop
$screen-xxl : 1600px;

$text-color-secondary: fade(#333333, 45%);
$border-radius: 6px;

$small-font-size: 12px;
$tooltip-color: rgba(0, 0, 0, 0.45);
$green-color: #008100;
$red-color: #f5222d;
$bold-text-color: #333;

$save-color:#60c538;
$save-font-color:#fff;

$content-height: calc(100vh - #{$header-height*2} - 41px);
